.header {
  max-width: 60rem;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.list {
  display: flex;
  gap: 2rem;
  margin-inline: auto;
  justify-content: center;
}

.list a {
  background-color: #ccc;
  display: block;
  color: black;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  transition: background 250ms ease;
}

.list a:hover,
.list a.active {
  background-color: #d1a427;
}

@media only screen and (max-width: 468px) {
  .list {
    gap: 1rem;
  }
}
