.form {
  max-width: 50rem;
  margin-inline: auto;
  margin-block: 2rem;
  padding-inline: 5rem;
}

.form label {
  font-size: 1.4rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  background-color: #635d5d;
  margin: 0 auto;
  font-size: 1.4rem;
  padding: 0.45rem;
  border: none;
  border-radius: 0.5rem;
  color: rgb(201, 200, 200);
}

.form .error {
  color: rgb(228, 228, 228);
  padding: 1rem;
  background-color: var(--color-error-500);
  border-radius: 0.25rem;
  text-align: center;
  margin-top: 2rem;
}

.control p {
  display: none;
}

.control.error input {
  background-color: rgb(189, 74, 74);
  border: 1px solid rgb(153, 25, 25);
}

.control.error textarea {
  background-color: rgb(189, 74, 74);
  border: 1px solid rgb(153, 25, 25);
}

.control.error p {
  display: block;
  color: #b13030;
  margin-top: 0.25rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.actions button {
  position: relative;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
  background-color: #ffc813;
}

.actions button::before {
  content: '';
  background-color: #d1a427;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease;
}

.actions button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.actions button:disabled {
  cursor: not-allowed;
}

.actions button:hover:disabled::before {
  transform: scaleX(0);
}

.actions a:link,
.actions a:visited {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid currentColor;
  transition: color 250ms ease;
}

.actions a:hover,
.actions a:active {
  color: var(--color-neutral-200);
}

@media only screen and (max-width: 768px) {
  .form {
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 468px) {
  .form {
    padding-inline: 0.5rem;
    margin-block: 3rem;
  }

  .form label {
    font-size: 1rem;
  }

  .form input,
  .form textarea {
    font-size: 1rem;
  }

  .actions {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .actions button {
    display: block;
    width: 100%;
  }
}
