:root {
  --color-neutral-200: #ffc813;
  --color-neutral-400: #d1a427;
  --color-neutral-600: #a7831f;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2d2d;
  color: var(--color-neutral-400);
  font-family: sans-serif;
}

main {
  max-width: 1440px;
  margin-inline: auto;
  border: 1px solid darkred;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
